/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.thumbnail {
    height: 200px;

    img.pull-right {
        width: 50px;
    }
}

div.upload {
    width: 157px;
    height: 57px;
    background-color: #008000;
    overflow: hidden;
}

body{
    background-color: goldenrod;
  
    // background: linear-gradient(to bottom right, #D1A213 , red);
}

.panelf{
    background: linear-gradient(to bottom right, #111114 , goldenrod);
    font-family: cursive;
    color: goldenrod;
    border-radius: 5px;
    border: 2px solid black;
    //background-color: #E8FC9F!important;
}

.panel-content{
    background: linear-gradient(to bottom right, silver, gold );
    border-radius: 10px;
    border: 2px solid black;
    font-family: cursive;
    width: 100%;
    height: 100px;

}

.modal-content{
    @extend .panelf;
}

a{
    color: #49595E!important;
}

.m-b-10{
    margin-bottom: 10px
}


.tgl-carousel{
    width: 100%;
}

.tgl-carousel img{
    padding:1px;
    border:3px solid #021a40;
    background-color: #CED4D6;


}

.tglnavbar {
    width: 100%;
    display: inline-block;
}

.navigation-menu{

}

.carousel-main{

}

.carousel-main span{
    color: goldenrod;
}

.tgl-header{
    background-color: #000;
}

.tgl-panel{
    background-color: silver;
}

.tgl-navbar{
    @extend .panelf;
}

.panel-inner-menu{
    @extend .panelf;
    text-align: center;
}

.panel-inner-menu{
    img{
        width: 166px;
        height: 150px;
    }
    img:hover{
        width: 166px;
        height: 150px;
        opacity: 0.8;
    }



}




//PADINGS

.padding-left-0{
    padding-left: 0px;
}
.padding-left-5{
    padding-left: 5px;
}
.padding-left-10{
    padding-left: 0px;
}
.padding-left-15{
    padding-left: 15px;
}

.padding-right-0{
    padding-right: 0px;
}
.padding-right-5{
    padding-right: 5px;
}
.padding-right-10{
    padding-right: 0px;
}
.padding-right-15{
    padding-right: 15px;
}



/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
